# Server Configuration
PORT=3000

# SATUSEHAT Environment URLs (Sandbox/Staging)
SATUSEHAT_AUTH_URL=https://api-satusehat-stg.dto.kemkes.go.id/oauth2/v1
SATUSEHAT_FHIR_URL=https://api-satusehat-stg.dto.kemkes.go.id/fhir-r4/v1

# SATUSEHAT Credentials
SATUSEHAT_CLIENT_ID=isi_client_id_anda
SATUSEHAT_CLIENT_SECRET=isi_client_secret_anda
SATUSEHAT_ORG_ID=10000004
SATUSEHAT_SERVICE_PROVIDER_ID=10000004

# Set false untuk request langsung ke Sandbox SATUSEHAT.
MOCK_MODE=false
